.container{
    text-align: center;
    margin: auto;
    width: 70%;
}
body{
    background-color: #393E46;
}
h1{
    color: #4ecc83;
    font-family: "lobster",cursive;
    margin: 30px;
    font-size: 8rem;
    text-shadow: 10px 10px #232931;
}
p{
    color: #4ecc83;
    font-family: "Indie Flower",cursive;
    font-size: 2rem;
    text-shadow: 5px 5px #232931;
}
.img{
    width: 80%;
}
.dice{
    text-align: center;
    display: inline-block;
}
footer{
    text-align: center;
    margin-top: 5%;
    color: #EEEEEE;
    font-family: "Indie Flower",cursive;
}
